<% include ../partials/header %>

<h1>Create a New Post</h1>

<form action="/posts">
	<input type="submit" class ="btn btn-xs btn-success" value="Return to Posts">
</form>
<form action="/logout">
	<input type="submit" class ="btn btn-xs btn-success" value="Logout">
</form>


<form action="/posts" class="form-inline" method="POST">

	<div id="post-title" class="text-box">
	    <label for="title">Post Title: </label>
	    <input type="text" name="post[title]" id="title" class="form-control" autofocus>
	</div>

	<div id ="post-body" class="text-box">	
		<label for="post">
			Post Body:
			<textarea name="post[body]" rows="20" cols="90" id="post" class="form-control"></textarea>
		</label>
	</div>

	<input type="submit" value="Create New Post" class="btn btn-success">
</form>

<% include ../partials/footer %>